In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('Modelo\\Data.csv', delimiter=',', encoding='utf-8')

df.head()

   QT_VOTOS  VR_DESPESA_CONTRATADA
0      1125              213127.50
1     27393             3016571.30
2       771               99998.00
3    242100             4077998.59
4    103265             2462596.06

In [4]:
correlation_pearson = df.corr(method='pearson')

correlation_pearson

                       QT_VOTOS  VR_DESPESA_CONTRATADA
QT_VOTOS                1.00000                0.80556
VR_DESPESA_CONTRATADA   0.80556                1.00000

In [5]:
correlation_spearman = df.corr(method='spearman')

correlation_spearman

                       QT_VOTOS  VR_DESPESA_CONTRATADA
QT_VOTOS               1.000000               0.861529
VR_DESPESA_CONTRATADA  0.861529               1.000000